<?xml version="1.0"?>
<config>
    <modules>
        <Riversy_Fastcheckout>
            <version>1.0.0</version>
        </Riversy_Fastcheckout>
    </modules>
    <global>
        <rewrite>
            <fastcheckout_onepage>
                <from><![CDATA[#^/checkout/onepage#]]></from>
                <to>/fastcheckout/onepage</to>
            </fastcheckout_onepage>
            <fastcheckout_cart>
                <from><![CDATA[#^/checkout/cart#]]></from>
                <to>/fastcheckout/cart</to>
            </fastcheckout_cart>
        </rewrite>
        <models>
            <fastcheckout>
                <class>Riversy_Fastcheckout_Model</class>
                <resourceModel>fastcheckout_mysql4</resourceModel>
            </fastcheckout>
            <fastcheckout_mysql4>
                <class>Riversy_Fastcheckout_Model_Mysql4</class>
                <entities>
                    <payment>
                        <table>wp_ac_payment</table>
                    </payment>
                    <message>
                        <table>wp_ac_message</table>
                    </message>
                </entities>
            </fastcheckout_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>Riversy_Fastcheckout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <fastcheckout>
                <class>Riversy_Fastcheckout_Block</class>
            </fastcheckout>
            <checkout>
                <rewrite>
                    <onepage_link>Riversy_Fastcheckout_Block_Onepage_Link</onepage_link>
                    <cart>Riversy_Fastcheckout_Block_Cart</cart>
                    <cart_totals>Riversy_Fastcheckout_Block_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_info>Riversy_Fastcheckout_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>Riversy_Fastcheckout_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <fastcheckout>
                <class>Riversy_Fastcheckout_Helper</class>
            </fastcheckout>
        </helpers>
        <resources>
            <fastcheckout_setup>
                <setup>
                    <module>Riversy_Fastcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fastcheckout_setup>
            <fastcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fastcheckout_write>
            <fastcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fastcheckout_read>
        </resources>
        <translate>
            <modules>
                <Riversy_Fastcheckout>
                    <files>
                        <default>Riversy_Fastcheckout.csv</default>
                    </files>
                </Riversy_Fastcheckout>
            </modules>
        </translate>
        <events>
        	<checkout_type_onepage_save_order_after>
        		<observers>
        			<fastcheckout_after>
        				<type>singleton</type>
                        <class>Riversy_Fastcheckout_Model_Observer</class>
                        <method>processOrder</method>
        			</fastcheckout_after>
        		</observers>
        	</checkout_type_onepage_save_order_after>
        	<checkout_type_onepage_save_order>
        		<observers>
        			<fastcheckout>
        				<type>singleton</type>
                        <class>Riversy_Fastcheckout_Model_Observer</class>
                        <method>processOrder</method>
        			</fastcheckout>
        		</observers>
        	</checkout_type_onepage_save_order>
        </events>
        <template>
            <email>
                <fastcheckout_payment_email_template translate="label" module="fastcheckout">
                    <label>Advanced Checkout - Link to the payment gate</label>
                    <file>fastcheckout/payment_link.html</file>
                    <type>html</type>
                </fastcheckout_payment_email_template>
                <fastcheckout_payment_invoice_email_template translate="label" module="fastcheckout">
                    <label>Advanced Checkout - Notification about invoice to admin</label>
                    <file>fastcheckout/invoice.html</file>
                    <type>html</type>
                </fastcheckout_payment_invoice_email_template>
            </email>
        </template>        
    </global>
    <frontend>
        <layout>
            <updates>
                <fastcheckout>
                    <file>fastcheckout.xml</file>
                </fastcheckout>
            </updates>
        </layout>
        <routers>
            <fastcheckout>
                <use>standard</use>
                <args>
                    <module>Riversy_Fastcheckout</module>
                    <frontName>fastcheckout</frontName>
                </args>
            </fastcheckout>
        </routers>
    </frontend>
    <admin>
        <routers>
			<fastcheckout>
				<use>admin</use>
				<args>
					<module>Riversy_Fastcheckout</module>
					<frontName>fastcheckout_admin</frontName>
				</args>
			</fastcheckout>
        </routers>
    </admin>    
    <adminhtml>
       
        <translate>
            <modules>
                <Riversy_Fastcheckout>
                    <files>
                        <default>Riversy_Fastcheckout.csv</default>
                    </files>
                </Riversy_Fastcheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <fastcheckout>
                    <file>fastcheckout.xml</file>
                </fastcheckout>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fastcheckout>
                                            <title>Advanced Checkout</title>
                                        </fastcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <fastcheckout>
            <options>
                <min_price>1500</min_price>
                <tax>200</tax>
                <express_enable>1</express_enable>
                <express_price>200</express_price>
            </options>
            <payment>
                <enabled>0</enabled>
                <payment_label>Способ оплаты</payment_label>
                <checkmo_label>Оплата наличными при получении</checkmo_label>
                <card_label>Оплата кредитной картой</card_label>
                <card_description>A1Pay payment system. We accept credit cards(Visa, Mastercard and others), Webmoney, SMS and tons of other payment methods.</card_description>
            </payment>
        </fastcheckout>
    </default>
</config>

