.fast-checkout.cart .title-buttons {
  zoom: 1;
}
.fast-checkout.cart .title-buttons:before,
.fast-checkout.cart .title-buttons:after {
  content: "";
  display: table;
}
.fast-checkout.cart .title-buttons:after {
  clear: both;
}
.fast-checkout.cart .title-buttons .top-button-set {
  float: right;
  margin-top: -48px;
}
@media screen and (max-width: 767px) {
  .fast-checkout.cart .title-buttons .top-button-set {
    display: none;
  }
}
.fast-checkout.cart .type-selector {
  margin-top: 40px;
  margin-left: 21px;
  margin-right: 21px;
}
.fast-checkout.cart .type-selector .optradio {
  height: 28px;
}
.fast-checkout.cart label.checkbox-inline.express input[type="checkbox"] {
  height: 26px;
}
.fast-checkout.cart .checkout-types {
  float: right;
}
.fast-checkout.cart button.button.checkout {
  float: none;
  margin-left: 0;
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
  margin-right: 20px;
}
.fast-checkout.cart button.button.checkout:hover {
  color: black;
  background-color: white;
}
.fast-checkout.cart select.form-control,
.fast-checkout.cart input.input-text {
  width: 90%;
}
.fast-checkout.cart .checkout-button-set {
  margin-top: 30px;
}
.fast-checkout.cart .checkout-button-set button.button.checkout {
  width: 100%;
}
.fast-checkout.cart .discount .input-box {
  margin: 0 0 15px;
  width: 100%;
}
.fast-checkout.cart .method {
  margin-top: 40px;
  margin-left: 21px;
}
@media screen and (max-width: 767px) {
  .fast-checkout.cart .method {
    margin: 0;
  }
}
