.fast-checkout.cart {

  .title-buttons {
    // Clearfix Trick
    zoom: 1;
    &:before, &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }


    .top-button-set {
      float: right;
      margin-top: -48px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  .type-selector {

    margin-top: 40px;
    margin-left: 21px;
    margin-right: 21px;

    .optradio {
      height: 28px;
    }
  }

  label.checkbox-inline.express {

    input[type="checkbox"] {
      height: 26px;
    }
  }

  .checkout-types {
    float: right;
  }

  button.button.checkout {

    float: none;
    margin-left: 0;
    background-color: orangered;
    color: white;
    border: 1px solid orangered;

    margin-right: 20px;

    &:hover {
      color: black;
      background-color: white;
    }
  }

  select.form-control, input.input-text {
    width: 90%;
  }

  .checkout-button-set {
    margin-top: 30px;

    button.button.checkout {
      width: 100%;
    }
  }

  .discount {
    .input-box {

      margin: 0 0 15px;
      width: 100%;
    }
  }
}
