<?xml version="1.0"?>
<config>
    <modules>
        <WP_Advancedcheckout>
            <version>1.0.7</version>
        </WP_Advancedcheckout>
    </modules>
    <global>
        <rewrite>
            <wp_advancedcheckout_onepage>
                <from><![CDATA[#^/checkout/onepage#]]></from>
                <to>/advancedcheckout/onepage</to>
            </wp_advancedcheckout_onepage>
            <wp_advancedcheckout_cart>
                <from><![CDATA[#^/checkout/cart#]]></from>
                <to>/advancedcheckout/cart</to>
            </wp_advancedcheckout_cart>
        </rewrite>
        <models>
            <advancedcheckout>
                <class>WP_Advancedcheckout_Model</class>
                <resourceModel>advancedcheckout_mysql4</resourceModel>
            </advancedcheckout>
            <advancedcheckout_mysql4>
                <class>WP_Advancedcheckout_Model_Mysql4</class>
                <entities>
                    <payment>
                        <table>wp_ac_payment</table>
                    </payment>
                    <message>
                        <table>wp_ac_message</table>
                    </message>
                </entities>
            </advancedcheckout_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>WP_Advancedcheckout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <blocks>
            <advancedcheckout>
                <class>WP_Advancedcheckout_Block</class>
            </advancedcheckout>
            <checkout>
                <rewrite>
                    <onepage_link>WP_Advancedcheckout_Block_Onepage_Link</onepage_link>
                    <cart>WP_Advancedcheckout_Block_Cart</cart>
                    <cart_totals>WP_Advancedcheckout_Block_Cart_Totals</cart_totals>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_info>WP_Advancedcheckout_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>WP_Advancedcheckout_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <advancedcheckout>
                <class>WP_Advancedcheckout_Helper</class>                
            </advancedcheckout>
        </helpers>
        <resources>
            <advancedcheckout_setup>
                <setup>
                    <module>WP_Advancedcheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedcheckout_setup>
            <advancedcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedcheckout_write>
            <advancedcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedcheckout_read>
        </resources>
        <translate>
            <modules>
                <WP_Advancedcheckout>
                    <files>
                        <default>WP_Advancedcheckout.csv</default>
                    </files>
                </WP_Advancedcheckout>
            </modules>
        </translate>
        <events>
        	<checkout_type_onepage_save_order_after>
        		<observers>
        			<advancedcheckout_after>
        				<type>singleton</type>
                        <class>WP_Advancedcheckout_Model_Observer</class>
                        <method>processOrder</method>
        			</advancedcheckout_after>
        		</observers>
        	</checkout_type_onepage_save_order_after>
        	<checkout_type_onepage_save_order>
        		<observers>
        			<advancedcheckout>
        				<type>singleton</type>
                        <class>WP_Advancedcheckout_Model_Observer</class>
                        <method>processOrder</method>
        			</advancedcheckout>
        		</observers>
        	</checkout_type_onepage_save_order>
        </events>
        <template>
            <email>
                <advancedcheckout_payment_email_template translate="label" module="advancedcheckout">
                    <label>Advanced Checkout - Link to the payment gate</label>
                    <file>advancedcheckout/payment_link.html</file>
                    <type>html</type>
                </advancedcheckout_payment_email_template>
                <advancedcheckout_payment_invoice_email_template translate="label" module="advancedcheckout">
                    <label>Advanced Checkout - Notification about invoice to admin</label>
                    <file>advancedcheckout/invoice.html</file>
                    <type>html</type>
                </advancedcheckout_payment_invoice_email_template>
            </email>
        </template>        
    </global>
    <frontend>
        <layout>
            <updates>
                <advancedcheckout>
                    <file>advancedcheckout.xml</file>
                </advancedcheckout>
            </updates>
        </layout>
        <routers>
            <advancedcheckout>
                <use>standard</use>
                <args>
                    <module>WP_Advancedcheckout</module>
                    <frontName>advancedcheckout</frontName>
                </args>
            </advancedcheckout>
        </routers>
    </frontend>
    <admin>
        <routers>
			<advancedcheckout>
				<use>admin</use>
				<args>
					<module>WP_Advancedcheckout</module>
					<frontName>advancedcheckout_admin</frontName>
				</args>
			</advancedcheckout>
        </routers>
    </admin>    
    <adminhtml>
       
        <translate>
            <modules>
                <WP_Advancedcheckout>
                    <files>
                        <default>WP_Advancedcheckout.csv</default>
                    </files>
                </WP_Advancedcheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <advancedcheckout>
                    <file>advancedcheckout.xml</file>
                </advancedcheckout>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <advancedcheckout>
                                            <title>Advanced Checkout</title>
                                        </advancedcheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <advancedcheckout>
            <options>
                <min_price>1500</min_price>
                <tax>200</tax>
                <express_enable>1</express_enable>
                <express_price>200</express_price>
            </options>
            <payment>
                <enabled>0</enabled>
                <payment_label>Способ оплаты</payment_label>
                <checkmo_label>Оплата наличными при получении</checkmo_label>
                <card_label>Оплата кредитной картой</card_label>
                <card_description>A1Pay payment system. We accept credit cards(Visa, Mastercard and others), Webmoney, SMS and tons of other payment methods.</card_description>
            </payment>
        </advancedcheckout>
    </default>
</config>

